 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins:ital@0;1&display=swap');

 $--max-width: 1100px;
 $--border-radius: 15px;
 $--font-primary: 'Poppins', sans-serif;
 $--font-secondary: 'Kumbh Sans', sans-serif;
 $--bg-color-primary: rgb(24, 24, 24);
 $--font-size-titles: 2rem;
 $--font-size-paragraph: 1.2em;
 $--pd1: 1em 5em;