@import 'vars';

.main_container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: $--bg-color-primary;
  overflow-x: hidden;
  padding: $--pd1;
  font-family: $--font-secondary;
  color: white;

  .about {
    margin: 0 auto;

    .about__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .about__text {
        padding: 0 3rem 0 0;
        width: 52%;

        .about__text h1 {
          font-size: 3.125rem;
          line-height: 1.1;
          margin-bottom: 0.5rem;
        }

        .about__text p {
          font-size: 1.630rem;
          font-weight: 400;
        }
      }
    }

    .about__video_container {
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      width: 48%;
    }

    .about__video {}

  }
}